<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %5p [%-20c{1}] %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.log4j.xml" level="WARN" />
		<Logger name="org.apache.deltaspike" level="WARN" />
		<Logger name="org.weld" level="WARN" />
		<Logger name="org.infinispan" level="WARN" />
		<Logger name="org.jboss.weld" level="WARN" />
		<Root level="DEBUG">
			<AppenderRef ref="STDOUT" />
		</Root>
		<Root level="WARN">
			<AppenderRef ref="STDOUT" />
		</Root>
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>